manage.py
modso2/__init__.py
modso2/settings.py
modso2/__pycache__/wsgi.cpython-36.pyc
modso2/__pycache__/__init__.cpython-36.pyc
modso2/__pycache__/settings.cpython-36.pyc
modso2/__pycache__/urls.cpython-36.pyc
gestionMachines/__init__.py
gestionMachines/migrations/__init__.py
gestionMachines/__pycache__/forms.cpython-36.pyc
gestionMachines/__pycache__/models.cpython-36.pyc
gestionMachines/__pycache__/views.cpython-36.pyc
*.pyc