{% extends 'gestionMachines/base.html' %}

{% load static %}

{% block content %}
    {% include 'gestionMachines/navbar.html' %}
    {% include 'gestionMachines/header_small.html' %}

    <div class="container">
        <div class="row">
            <article class="col maincontent">
                <header class="page-header">
                    <h1 class="page-title">{{machine.nom}}</h1>
                </header>
                
                <p><b>Desciption :</b> {{machine.description}}</p>
                <p><b>Disponible</b>
                {% if machine.disponible %}
                    <span class="label label-success">oui</span>
                    {% else %}
                    <span class="label label-danger">non</span>
                    <p><b>Utilisateur :</b> {{ machine.utilisateur_actuel.first_name }} {{ machine.utilisateur_actuel.last_name }}</p>
                {% endif %}
                </p>
                
            </article>
        </div>
    </div>	<!-- /container -->
{% endblock %}
