{% extends 'gestionMachines/base.html' %}

{% load static %}

{% block content %}
    {% include 'gestionMachines/navbar.html' %}
    {% include 'gestionMachines/header_small.html' %}

    <div class="container">
        <header class="page-header">
            <h1 class="page-title">{{machine.nom}}</h1>
        </header>
        <div class="row">
            <article class="maincontent col-sm-8">
                
                <p><b>Desciption :</b> {{machine.description}}</p>
                <p><b>Disponible : </b>
                {% if machine.disponible %}
                    <span class="label label-success">oui</span>
                    {% else %}
                    <span class="label label-danger">non</span>
                    <p><b>Utilisateur :</b> {{ machine.utilisateur_actuel.first_name }} {{ machine.utilisateur_actuel.last_name }}</p>
                {% endif %}
                </p>
                {% if machine.photo %}
                    <p class="row">
                        <b class="col">Photo : </b>
                        <span class="col " style="text-align: center;">
                            <img src="{{ machine.photo.url }}" alt="{{ machine.photo.url }}" width= "80%">
                        </span>
                    </p>
                {% else %}
                    <p>Il n'y a pas de photo pour cette machine.</p>
                {% endif %}
                
            </article>
        </div>
        <br>
        <div class="row">
            <div class="col text-center">
                <a href="#"  class="btn btn-primary" aria-haspopup="true" aria-expanded="false">
                    Modifier la machine
                </a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalSupprMachine">
                    Supprimer la machine
                </button>
                    
                <!-- Modal -->
                <div class="modal fade" id="modalSupprMachine" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Attention</h4>
                            </div>
                            <div class="modal-body">
                                Vous êtes sur le point de supprimer la machine {{machine.nom}}.
                                Cette action est irréversible.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                <a href="{% url 'machines:supprimermachine' pk=machine.pk %}" class="btn btn-primary">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>	<!-- /container -->
    <br>
    <br>
{% endblock %}
