{% extends 'gestionMachines/machines/base_machines.html' %}

{% load static %}

{% block machines_content %}
    <div class="container">

			<div class="row">
				
				<article class="col maincontent">
					<header class="page-header">
						<h1 class="page-title">Machines</h1>
                    </header>
                    
                    <h3>Liste des machines</h3>
                    <ul>
                        {% if machines %}
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Propriétaire</th>
                                        <th scope="col">Disponible</th>
                                        <th scope="col">Utilisateur actuel</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for machine in machines %}
                                        <tr>
                                                <td><a href="{% url 'machines:detail' pk=machine.id %}" class="thumbnail">
                                                        {% if machine.photo %}
                                                            <img src="{{ machine.photo.url }}" alt="Photo" style="height: 100px">
                                                        {% else %}
                                                            <img src="{% static 'gestionMachines/images/2.jpg' %}" alt="Photo" style="height: 100px">
                                                        {% endif%}
                                                        </a>
                                                    </td>
                                            <td>{{ machine.nom}}</td>
                                            <td>{{ machine.description }}</td>
                                            <td>{{ machine.user.first_name }} {{ machine.user.last_name}}</td>
                                            {% if machine.disponible %}
                                                <td> <span class="label label-success">oui</span> </td>
                                            {% else %}
                                                <td> <span class="label label-danger">non</span> </td>
                                            {% endif %}
                                            {% if machine.disponible %}
                                                <td></td>
                                            {% else %}
                                                <td>{{ machine.utilisateur.first_name}} {{ machine.utilisateur.last_name}}</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>Il n'existe aucune machine à emprunter.</p>
                        {% endif %}
                    </ul>

				</article>
			</div>
		</div>	<!-- /container -->
{% endblock %}