{% extends 'gestionMachines/base.html' %}

{% load static %}

{% block content %}
    {% include 'gestionMachines/navbar.html' %}
    {% include 'gestionMachines/header_small.html' %}

    <div class="container">

			<div class="row">
				
				<article class="col-sm-8 maincontent">
					<header class="page-header">
						<h1 class="page-title">Mes machines</h1>
                    </header>
                    
                    <h3>Liste de mes machines</h3>
                    {% if machines %}
                    <table class="table table-hover table-dark">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Description</th>
                                <th scope="col">Disponible</th>
                                <th scope="col">Utilisateur actuel</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for machine in machines %}
                                <tr>
                                    <td>{{ machine.nom}}</td>
                                    <td>{{ machine.description }}</td>
                                    <td>{{ machine.disponible|yesno:"Oui, Non"}}</td>
                                    {% if machine.disponible %}
                                        <td> / </td>
                                    {% else %}
                                        <td>{{ machine.utilisateur.first_name}} {{ machine.utilisateur.last_name}}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p>Vous n'avez aucune machine.</p>
                    {% endif %}
                            
                    </ul>

				</article>
			</div>
		</div>	<!-- /container -->
{% endblock %}
