{% extends 'gestionMachines/machines/base_machines.html' %}

{% load static %}

{% block machines_content %}
    <div class="container">

			<div class="row">
				
				<article class="col maincontent">
					<header class="page-header">
						<h1 class="page-title">Mes machines</h1>
                    </header>
                    
                    <h3>Liste de mes machines</h3>
                    {% if machines %}
                    <table class="table table-hover table-dark">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Nom</th>
                                <th scope="col">Description</th>
                                <th scope="col">Disponible</th>
                                <th scope="col">Utilisateur actuel</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for machine in machines %}
                                <tr>
                                    <td><a href="{% url 'machines:detail' pk=machine.id %}" class="thumbnail">
                                        {% if machine.photo %}
                                            <img src="{{ machine.photo.url }}" alt="Photo" style="height: 100px">
                                        {% else %}
                                            <img src="{% static 'gestionMachines/images/2.jpg' %}" alt="Photo" style="height: 100px">
                                        {% endif%}
                                        </a>
                                    </td>
                                    <td>{{ machine.nom}}</td>
                                    <td>{{ machine.description }}</td>
                                    {% if machine.disponible %}
                                        <td> <span class="label label-success">oui</span> </td>
                                    {% else %}
                                        <td> <span class="label label-danger">non</span> </td>
                                    {% endif %}
                                    {% if machine.disponible %}
                                        <td></td>
                                    {% else %}
                                        <td>{{ machine.utilisateur.first_name}} {{ machine.utilisateur.last_name}}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p>Vous n'avez aucune machine.</p>
                    {% endif %}
				</article>
            </div>
            <div class="row">
                <div class="col text-center">
                    <form action="{% url 'machines:creermachine' %}" method="GES">
                        <button type="submit" class="btn btn-primary">Ajouter une machine</button>
                    </form>
                </div>
            </div>
		</div>	<!-- /container -->
{% endblock %}
