{% extends 'gestionMachines/base.html' %}

{% load static %}

{% block content %}

    {% include 'gestionMachines/navbar.html' %}
                
    {% include 'gestionMachines/header_small.html' %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
            {% endfor %}
          {% endif %}
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="col-sm-8 maincontent">
                    <header class="page-header">
                        <h1 class="page-title">Espace personnel</h1>
                    </header>
                        {% block espacePersoContent %}
                            <h3>Bienvenue sur votre espace personnel!</h3>
                        {% endblock %}
                        
                    </article>
            </div>


            <!-- Sidebar -->
            <aside class="col-sm-4 sidebar sidebar-right">
                <div class="widget">
                    <h4>Menu</h4>
                    <ul class="list-unstyled list-spaces">
                        <li><a href="{% url 'espacepersoconnexion' %}">Informations de connexion</a><br><span class="small text-muted">Modifiez vos informations de connexion : email, mot de passe, etc....</span></li>
                        <li><a href="{% url 'espacepersoperso' %}">Informations personelles</a><br><span class="small text-muted">Modifiez vos informations personnelles : tel, adresse, etc...</span></li>
                        <li><a href="">Suppression de votre compte</a><br><span class="small text-muted">SUpprimez votre compte.</span></li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}