<!DOCTYPE html>
<html lang="en">
	<head>
	{% load static %}
	
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>MODSO - Machines Outils Du Sud Ouest</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'gestionMachines/css/bootstrap-theme.css' %}" media="screen" >
	<link rel="stylesheet" type="text/css" href="{% static 'gestionMachines/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'gestionMachines/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'gestionMachines/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'gestionMachines/css/modso.css' %}">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">
    {% block content %}{% endblock %}

	<!-- Imports js -->
	{% include 'gestionMachines/import_js.html' %}
</body>
</html>
