{% extends 'gestionMachines/base.html' %}

{% block content %}

	{% include 'gestionMachines/navbar.html' %}
	
	{% include 'gestionMachines/header_small.html' %}
	
	<!-- container -->
	<div class="container">


		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
				<header class="page-header">
					<h1 class="page-title">Nous contacter</h1>
				</header>
				
				<p>
					Vous rencontrez un bug? Vous voulez féliciter notre développeur? N'hésitez pas à nous contacter!
				</p>
				<br>
					<form>
						<div class="row">
							<div class="col-sm-4">
								<input class="form-control" type="text" placeholder="Nom et prénom">
							</div>
							<div class="col-sm-4">
								<input class="form-control" type="text" placeholder="Email">
							</div>
							<div class="col-sm-4">
								<input class="form-control" type="text" placeholder="Téléphone">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-12">
								<textarea placeholder="Votre message..." class="form-control" rows="9"></textarea>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-6 text-right">
								<input class="btn btn-action" type="button" value="Envoyer" onclick="lol()">
							</div>
						</div>
					</form>

			</article>
			<!-- /Article -->
			
		</div>
	</div>	<!-- /container -->
	
	<section class="container-full top-space">
		<div id="map"></div>
	</section>
	<script type="text/javascript">
		function lol(){
			alert("Désolé, cette fonctionnalité n'est pas implémentée...\n Si vous souhaitez nous contacter pour remonter ce bug, n'hésitez pas à utiliser le formulaire ci-dessous!")
		}
	</script>
{% endblock %}