<div class="container" id="faq">

		<h2 class="text-center top-space">Foire aux questions</h2>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<h3>Comment ça marche?</h3>
				<p>Le fonctionnement du site est très simple : après avoir créé un compte, vous aurez accès à une interface permettant de consulter les machines ou outils que d'autres utilisateurs mettent à disposition.</p>
				<p>Vous pourrez également ajouter vos propres machines ou outils à la base de donnée du site.</p>
			</div>
			<div class="col-sm-6">
				<h3>Quels sont les prérequis pour créer un compte?</h3>
				<p>
					Pour pouvoir créer un compte, vous devez connaître quelqu'un ayant déjà un compte sur le site. 
				</p>
			</div>
		</div> <!-- /row -->

		<div class="row">
			<div class="col-sm-6">
				<h3>Quelles informations vais-je devoir entrer?</h3>
				<p>
					Les informations nécessaires à la connexion sont vos noms et prénoms et votre adresse mail.
				</p>
				<p>Il vous sera également demandé d'entrer le nom de la personne qui vous a recommandé le site.</p>
			</div>
		</div> <!-- /row -->

		<!-- jumbotron top space -->
		<!-- {% include 'gestionMachines/jumbotron_top_space.html'%} -->

</div>	<!-- /container -->