<footer id="footer" class="top-space">

    <div class="footer1">
        <div class="container">
            <div class="row">
                
                <div class="col-md-3 widget">
                    <h3 class="widget-title">Contact</h3>
                    <div class="widget-body">
                        <p>Les Ramecourt<br>
                            <!-- <a href="mailto:#">some.email@somewhere.com</a><br> -->
                            Fourcès
                        </p>	
                    </div>
                </div>

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Follow me</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href="https://github.com/Gabouch"><i class="fa fa-github fa-2"></i></a>
                            <a href="https://fr.linkedin.com/in/gabriel-de-ramecourt-441a311b"><i class="fa fa-linkedin fa-2"></i></a>
                        </p>	
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <h3 class="widget-title">Context</h3>
                    <div class="widget-body">
                        <p>Ce site a été réalisé afin de permettre aux bricoleurs du dimanche de ne pas se ruiner en allant louer des outils dont ils ne sauraient de toute façon pas se servir correctement, mais plutôt de profiter des machines, outils et expertises présentes chez les copains du coin, qui se feront un plaisir de les aider, moyennant un petit Armagnac, ce qui est quand même vachement plus sympa qu'un aller-retour chez Casto, faut l'avouer.</p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

    <div class="footer2">
        <div class="container">
            <div class="row">
                
                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="simplenav">
                            <a href="{% url 'index' %}">Home</a> | 
                            <!-- <a href="{% url 'about' %}">About</a> | -->
                            <a href="{% url 'contact' %}">Contact</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright &copy; 2014, Fait avec &hearts; par Gabriel de Ramecourt. Template : <a href="http://gettemplate.com/" rel="designer">gettemplate</a> 
                        </p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

</footer>	