{% extends 'gestionMachines/base.html' %}
{% block content %}
	<!-- Barre de navigation -->
	{% include 'gestionMachines/navbar.html' %}

	<!-- Header -->
	{% include 'gestionMachines/header.html' %}

	<!-- Intro -->
	{% include 'gestionMachines/intro.html' %}

	<!-- Highlights - jumbotron -->
	<!-- {% include 'gestionMachines/highlights.html' %}  -->

	<!-- FAQ -->
	{% include 'gestionMachines/faq.html' %}

	<!-- Footer -->
	{% include 'gestionMachines/footer.html' %}
{% endblock %}