{% extends 'gestionMachines/base.html' %}

{% load static %}

{% block content %}
	{% include 'gestionMachines/navbar.html' %}
	{% include 'gestionMachines/header_small.html' %}

	<!-- container -->
	<div class="container">

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Création de compte</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Créez votre compte</h3>
							<p class="text-center text-muted">Si vous possédez déjà un compte, <a href="{% url 'signin' %}">Connectez-vous</a> afin de pouvoir utiliser le service. </p>
							<hr>
							{% if errors %}
							<div class="error-list">
							  {% for error in errors %}
							  {% autoescape off %}
								<p>{{ error }}</p>
							  {% endautoescape %}
							  {% endfor %}
							</div>
							{% endif %}
							<form action="{% url 'signup' %}" method="POST">
								{% csrf_token %}
								<div class="top-margin">
									<label>Prenom<span class="text-danger">*</span></label>
									<input type="text" class="form-control" id="prenom" name="prenom">
								</div>
								<div class="top-margin">
									<label>Nom<span class="text-danger">*</span></label>
									<input type="text" class="form-control" id="nom" name="nom">
								</div>
								<div class="top-margin">
									<label>Adresse email<span class="text-danger">*</span></label>
									<input type="text" class="form-control" id="email" name="email">
								</div>
								<div class="top-margin">
									<label>Nom du parrain <span class="text-danger">*</span></label>
									<input type="text" class="form-control" id="parrain" name="parrain">
								</div>
								

								<div class="row top-margin">
									<div class="col-sm-6">
										<label>Mot de passe <span class="text-danger">*</span></label>
										<input type="password" class="form-control" id="password" name="password">
									</div>
									<div class="col-sm-6">
										<label>Confirmation du mot de passe <span class="text-danger">*</span></label>
										<input type="password" class="form-control" id="password_confirm" name="password_confirm">
									</div>
								</div>

								<hr>

								<div class="row">
									<div class="col-lg-8">
										<label class="checkbox">
											<input type="checkbox" id="check_terms" name="check_terms"> 
											J'ai lu et j'accepte les <a href="{% url 'terms_conditions' %}">Conditions d'utilisation</a>
										</label>                        
									</div>
									<div class="col-lg-4 text-right">
										<button class="btn btn-default" type="submit">Register</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	
{% endblock %}