{% extends 'gestionMachines/base.html' %}

{% load static %}

{% block content %}
	{% include 'gestionMachines/navbar.html' %}
	{% include 'gestionMachines/header_small.html' %}

	<!-- container -->
	<div class="container">
		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Sign in</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Connectez-vous à votre compte</h3>
							<p class="text-center text-muted">Si vous ne possédez pas encore de compte <a href="{% url 'signup' %}">Enregistrez-vous</a> pour continuer à utiliser le service. </p>
							<hr>
							{% if errors %}
							<div class="error-list">
							  {% for error in errors %}
							  {% autoescape off %}
								<p>{{ error }}</p>
							  {% endautoescape %}
							  {% endfor %}
							</div>
							{% endif %}
							<form action="{% url 'signin' %}" method="POST">
								{% csrf_token %}
								<div class="top-margin">
									<label>Email <span class="text-danger">*</span></label>
									<input type="text" class="form-control" name="email">
								</div>
								<div class="top-margin">
									<label>Mot de passe <span class="text-danger">*</span></label>
									<input type="password" class="form-control" name="password">
								</div>

								<hr>

								<div class="row">
									<div class="col text-center">
										<button class="btn btn-action" type="submit">Sign in</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	
{% endblock %}